# **Data Types and Structures Questions**

1. What are data structures, and why are they important?
-  Data structures in Python are ways to store and organize data efficiently.
Python provides built-in ones like list, tuple, set, and dictionary.
They help in fast data access, modification, and management.
Using the right one improves performance and memory usage.
Example: my_dict = {"name": "Sahil", "age": 22} (dictionary stores key-value pairs).

2. Explain the difference between mutable and immutable data types with examples
 -  Mutable data types can be changed after creation, while immutable ones cannot.
Examples of mutable types are list, set, dictionary.
Examples of immutable types are tuple, string, int.
Mutable objects allow adding, removing, or updating values.
Immutable objects create a new copy when modified.

3. What are the main differences between lists and tuples in Python?
- Lists are mutable, meaning their elements can be changed, added, or removed.
Tuples are immutable, so their elements cannot be modified after creation.
Lists use square brackets [ ], while tuples use parentheses ( ).
Lists are slightly slower than tuples because of mutability overhead.
Use lists for dynamic data and tuples for fixed or constant data.
4.  Describe how dictionaries store data?
-  Dictionaries in Python store data as key-value pairs.
Each key must be unique and immutable (like string, number, tuple).
They use a hashing mechanism to find values quickly.
Accessing or updating data is very fast (average O(1) time).
Example: person = {"name": "Sahil", "age": 22} stores data by key.

5. Why might you use a set instead of a list in Python?

- A set stores only unique elements, unlike a list. Sets are unordered, while lists maintain order. Checking for membership in a set is faster than in a list. Sets are useful for removing duplicates from data. They also support mathematical operations like union and intersection. Example: my_set = {1, 2, 3} automatically ignores duplicates if added.

6. What is a string in Python, and how is it different from a list?
- A string in Python is a sequence of characters enclosed in quotes, like "Hello".
Strings are immutable, so their characters cannot be changed after creation.
A list can store multiple elements of any type and is mutable, so it can be modified.
Both strings and lists allow indexing to access elements.
Strings are used for text, while lists are used for collections of items.

7. How do tuples ensure data integrity in Python?
-  Tuples in Python are immutable, so their elements cannot be changed after creation.
This immutability ensures that the data remains constant and safe from accidental changes.
They are ideal for storing fixed collections of values.
Tuples can be used as keys in dictionaries because they cannot be modified.
Their fixed nature makes programs more predictable and less prone to bugs.
8. What is a hash table, and how does it relate to dictionaries in Python?
-  A hash table is a data structure that stores data in key-value pairs using a hash function.
It computes an index for each key, which determines where the value is stored.
Python dictionaries are implemented using hash tables.
This allows fast lookup, insertion, and deletion of items.
Each key in a dictionary must be unique and is hashed for efficient access.
Hash tables make dictionaries highly efficient for storing and retrieving data.

9.  Can lists contain different data types in Python?
-  Yes, lists in Python can contain different data types like integers, strings, floats, or even other lists.
For example, [1, "hello", 3.5, True] is valid.
Lists maintain the order of elements and allow indexing.
You can modify, add, or remove elements regardless of their type.
This makes lists flexible and useful for storing mixed data.

10. Explain why strings are immutable in Python?
-  Strings are immutable in Python because once created, their characters cannot be changed.
This ensures data safety and prevents accidental modifications.
Immutability allows Python to optimize memory by reusing string objects.
It also enables strings to be used as dictionary keys or in sets.
Any operation that alters a string actually creates a new string.
11.  What advantages do dictionaries offer over lists for certain tasks?
-  Dictionaries provide faster lookup, insertion, and deletion compared to lists.
They store data in key-value pairs, making access more direct and meaningful.
Each key in a dictionary is unique, preventing duplicate entries.
Dictionaries are ideal for tasks where data needs to be retrieved quickly.
They offer more structured and organized storage than lists for certain tasks.
12. Describe a scenario where using a tuple would be preferable over a list?
-  A tuple would be preferable over a list when you need to store a collection of values that should not change, such as the coordinates of a point (x, y) in a 2D space.
Since tuples are immutable, the data remains safe from accidental modification.
They are also more memory-efficient and slightly faster than lists for fixed data.
Tuples can be used as dictionary keys or elements in sets, which lists cannot.
This makes tuples ideal for representing constant, unchangeable data in a program.
13.  How do sets handle duplicate values in Python?
-  Sets in Python automatically ignore duplicate values, so each element appears only once.
When you add a value that already exists in a set, it is not added again.
This makes sets useful for removing duplicates from a collection.
Sets are unordered, so the original order of elements is not preserved.
Operations like union, intersection, and difference work efficiently because duplicates are not stored.

14.  How does the “in” keyword work differently for lists and dictionaries?
-   In lists, the in keyword checks whether a value exists among the elements.
For example, 3 in [1, 2, 3] returns True.

- In dictionaries, in checks whether a key exists, not the value.
For example, 'name' in {'name': 'Sahil'} returns True.
This difference is important when searching for data in lists versus dictionaries.
15.  Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple because tuples are immutable in Python.
Once a tuple is created, its size and contents cannot be changed.
This immutability ensures that the data remains constant and safe from accidental modification.
Any operation that seems to change a tuple actually creates a new tuple.
Tuples are ideal for storing fixed collections of values that should not be altered.
16.   What is a nested dictionary, and give an example of its use case?
-  A nested dictionary in Python is a dictionary that contains another dictionary as a value for one or more keys.
It allows you to store and organize complex, hierarchical data.
For example, a student record can store multiple details:

- student = {
    "101": {"name": "Sahil", "age": 22, "grades": {"math": 90, "science": 85}},
    "102": {"name": "Rashi", "age": 21, "grades": {"math": 80, "science": 88}}
}


- Here, each student ID maps to another dictionary containing personal info and grades.
Nested dictionaries are useful for storing structured data like JSON objects or configuration settings.

17.  Describe the time complexity of accessing elements in a dictionary?
-  Accessing elements in a Python dictionary has an average time complexity of O(1).
This is because dictionaries use hash tables, which compute the index of a key directly.
Finding a value by its key does not require searching through all items.
In rare cases of hash collisions, access can degrade to O(n), but this is uncommon.
Overall, dictionaries provide very fast and efficient key-based access compared to lists.

18. In what situations are lists preferred over dictionaries?
- Lists are preferred when the order of items matters because they keep elements in order.
They are good for storing a sequence of items that you want to access by position.
Lists are simpler when you don’t need keys and just want a group of similar items.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-  Dictionaries are considered unordered because they do not store items in a specific sequence.
This means the order in which key-value pairs were added may not be preserved (in older Python versions; from Python 3.7+, insertion order is preserved but still not the main feature).
Data retrieval in dictionaries is done using keys, not positions, so you access values directly without relying on order.
This allows for fast lookups, but you cannot use indexing like in lists.
The focus is on key-based access rather than the order of items.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
-  In a list, data is retrieved by its position (index), so you access elements using numbers like my_list[0].
In a dictionary, data is retrieved by its key, so you access values using meaningful names like my_dict["name"].
Lists require searching through elements if you don’t know the index, which can be slower.
Dictionaries use hash tables, allowing fast access directly via keys.
This makes lists better for ordered sequences and dictionaries better for key-value mappings.

# **Practical Questions**

In [2]:
# 1. Write a code to create a string with your name and print it.
name = "Mohd Sahil"
print(name)

Mohd Sahil

In [3]:
# 2. Write a code to find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
print(string[:3])

Pyt

In [5]:
# 4. Write a code to convert the string "hello" to uppercase.
str = "hello"
print(str.upper())

HELLO

In [9]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
str = "I like apple"
print(str.replace("apple", "orange"))

I like orange

In [11]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it.
list1 = [1, 2, 3, 4, 5]
print(list1)

[1, 2, 3, 4, 5]

In [13]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [14]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list1 = [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [15]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list1 = ['a', 'b', 'c', 'd']
print(list1[1])

b

In [22]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
# In Python, you can reverse a list in several ways.

# 1. slicing
lis = [10, 20, 30, 40, 50]
print(lis[::-1])

#2. Using the reverse() method
lis = [10, 20, 30, 40, 50]
lis.reverse()
print(lis)

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

In [23]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [24]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1 = ('red', 'green', 'blue', 'yellow')
print(tuple1[-2])

blue

In [25]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple1 = (10, 20, 5, 15)
print(min(tuple1))

5

In [26]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple1 = ('dog', 'cat', 'rabbit')
print(tuple1.index('cat'))

1

In [29]:
# 15. Write a code to  create a tuple containing three different fruits and check if "kiwi" is in it.
tuple1 = ('apple', 'banana', 'orange')
print('kiwi' in tuple1)

# by if - else
tuple1 = ("apple","banana", "orange")
if "kiwi" in tuple1:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

False
kiwi is not in the tuple

In [30]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'b', 'c'}

In [31]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [32]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [36]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1 | set2
print(set3)

# second method
result = set1.union(set2)  # {1, 2, 3, 4, 5}
print(result)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [37]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set3 = set1 & set2
print(set3)

# second method
result = set1.intersection(set2)  # {2, 3}
print(result)

{2, 3}
{2, 3}

In [38]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {"name": "Sahil", "age": 22, "city": "Mumbai"}
print(dict1)

{'name': 'Sahil', 'age': 22, 'city': 'Mumbai'}

In [39]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1 = {'name': 'John', 'age': 25}
dict1["country"] = "USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [40]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1 = {'name': 'Alice', 'age': 30}
print(dict1["name"])

Alice

In [41]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop("age")
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [43]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict1)

# by if - else
dict1 = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict1:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

True
city is in the dictionary

In [45]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list1 = [1, 2, 3, 4]
tuple1 = (1, 2, 3, 4)
dict1 = {"name": "Sahil", "age": 22, "city": "Mumbai"}
print(list1)
print(tuple1)
print(dict1)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Sahil', 'age': 22, 'city': 'Mumbai'}

In [46]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list1 = [random.randint(1, 100) for _ in range(5)]
list1.sort()
print(list1)

[3, 31, 79, 84, 85]

In [47]:
# 28. Write a code to create a list with strings and print the element at the third index.
list1 = ["apple", "banana", "orange", "grape", "kiwi"]
print(list1[3])

grape

In [48]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Sahil", "age": 22}
dict2 = {"city": "Mumbai", "country": "India"}
dict1.update(dict2)
print(dict1)

{'name': 'Sahil', 'age': 22, 'city': 'Mumbai', 'country': 'India'}

In [49]:
# 30. Write a code to convert a list of strings into a set.
list1 = ["apple", "banana", "orange"]
set1 = set(list1)
print(set1)

{'apple', 'orange', 'banana'}